0 – с, з, ц (любая из букв подходит)
1 – д, т (любая из букв подходит)
2 – н
3 – м
4 – р
5 – л
6 – ч, ш, щ, ж (любая из букв подходит)
7 - г, к, х (любая из букв подходит)
8 – в, ф (любая из букв подходит)
9 – б, п (любая из букв подходит)

01819637219157158256721158043107574120181

01   81       963        721     9157             1582        56      721      15804           31075            7412       0181

01 Сад 81 овод

0181 садовод => с =>0 д=>1 в=>8 д=>1

963 пижама  
721 кнут
9157 бутылка   
1582 телефон
 56 лыжи   
721 кнут
15804 телевизор
31075 мотоцикл
7412 картина
0181 садовод

(слово) => число

0181 => 01 Сад + 81 овод => 0181 садовод

01+81= 82 || 0181

82<181 => выбираем 0181 садовод

Слова в файле могут повторяться.
Как пример два раза слово ГРУША.
В этом случае программа использует дважды это слово.

Если слово в базе слов, упоминается один раз, то соответственно программа использует его только один раз.

Разработка программы 
20000–50000 руб.
IT-аутсорсинг

Описание

Разработка программы.
ТЗ Разработать программу, по функционалу она похожа на калькулятор, ее задача подобрать идеальное решение.

Программа должна запускаться на ноутбуке.
Пользователь будет 1 человек.
Доступ без пароля.
История записываться не должна (это не обязательно).
Важно сохранить последний подобранный вариант. 
Возможность скачать полученный результат или просто копировать и вставить в ворд документ.

Интерфейс любой, с которым справится обычный пользователь (на ваше усмотрение).

Ниже приведен пример глазами пользователя и вводные с чем работать и что нужно получить на выходе:

Есть 20 000 цифр (идут отдельным файлом) и 5 000 слов (отобранные для применения, программа должна использовать только их (идут отдельным файлом)).
Цифры оно же число – низменно, важно сохранить и не менять его порядок.
В словах имеют значение только согласные буквы, которые означают ту или иную цифру, гласные буквы не означают никакой цифры, твердый (ъ) и мягкий (ь) знаки – также не значат ни чего. 
0 – с, з, ц (любая из букв подходит)
1 – д, т (любая из букв подходит)
2 – н
3 – м
4 – р
5 – л
6 – ч, ш, щ, ж (любая из букв подходит)
7 - г, к, х (любая из букв подходит)
8 – в, ф (любая из букв подходит)
9 – б, п (любая из букв подходит)

Задача программы распределить предложенные слова по всему числу.
Пример числа (только в качестве образца):
01819637219157158256721158043107574120181
Программа должна выбрать слова из имеющегося списка (файла) и распределить слова по цифрам согласно значению цифр и букв, упомянутых выше (0 – с или з или ц, 1 –д или т, 2 – н, 3 – м, 4 – р, 5 – л, 6 – ж или ш или щ, 7 – к, г или х, 8 – в или ф, 9 – б или п.
Получается пример см. ниже:
  01   81       963        721     9157             1582        56      721      15804           31075            7412       0181
Сад овод пижама   кнут   бутылка   телефон  лыжи  кнут   телевизор  мотоцикл     картина садовод

И программа должна предоставить в таком виде (см. ниже)
01 Сад
81 овод
963 пижама  
721 кнут
9157 бутылка   
1582 телефон
 56 лыжи   
721 кнут
15804 телевизор
31075 мотоцикл
7412 картина
0181 садовод

ВАЖНО! Задача программы не просто подбирать слова с первых чисел числа, которое длиной от 15 000 цифр, а распределить предложенные слова наилучшим образом.

Пример: первые цифры 0181 и если программа поставит слова САД и ОВОД то, когда в последующих цифрах числа понадобиться подобрать слово к цифре 81, в запасе еще не используемых останется только слово САДОВОД, которое не подойдёт по своей длине (в нем больше цифр, чем нужно). 
Но если программа определит,  что наилучшим образом слово САДОВОД стоит поставить вместо слов САД и ОВОД, что означает цифры 01 и 81, то в этом случае будут задействованы все слова и распределены наилучшим образом. 
Это позволит к каждой цифре в числе подобрать слова. Идеал это ко всему числу подобрать слова без пустот.
Если программа видит, что не может подобрать набор цифр, в какой-то части числа, то эту часть цифр она оставляет цифрами без слова, пример см. ниже;

963 пижама  
721...
9157 бутылка   
1582 телефон
 56...
721 кнут

Но общее количество цифр без связки со словами не должно превышать 100 цифр СУММАРНО. 

Задача минимум (бронза) – распределить предложенные слова (5 000 слов) по числу в 15 000 цифр.
Задача средняя (серебро) – распределить предложенные слова (те же 5 000 слов) по числу в 16 – 17 000 цифр. 
Задача максимум (золото) – распределить предложенные слова (те же 5 000 слов) по числу в 20 000 цифр. 
Длина слова может содержать в себе до 15 цифр, но в среднем 4 цифры в слове.
